$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

// Bootstrap Variable Overrides
// Type
$font-family-sans-serif:  "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-base:        $font-family-sans-serif !default;

$font-size-base:          18px !default;
$font-size-large:         24px !default; //
$font-size-small:         14px !default; // ~12px

$font-size-h1:            48px !default; // ~36px
$font-size-h2:            36px !default; // ~30px
$font-size-h3:            27px; // ~24px
$font-size-h4:            ceil(($font-size-base * 1.25)) !default; // ~18px
$font-size-h5:            $font-size-base !default;
$font-size-h6:            ceil(($font-size-base * 0.85)) !default; // ~12px

$line-height-base:        1.5 !default;

// Color
$brand-primary: #9013fe !default;
$section-background-alt: whiteSmoke !default;
$keyline-gray: #bbb !default;

$fa-font-path: "/bower_components/fontawesome/fonts";

// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
@import "fontawesome/scss/font-awesome.scss";
// endbower

body {
  padding: 0;
  .page_portfolio {
    text-align: center;
  }
}

h1, h2 {
  font-family: "Open Sans Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
}
h1 {}
h2 { text-align: center; }
h3 { font-weight: 600; }
p { font-weight: 300; }
p.lead { font-weight: 300; }
strong { font-weight: 400; }

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  margin-top: 48px;
  border-radius: 50%;
  width: 300px;
  height: 300px;
  background-color: $brand-primary;
  &__content {
    text-align: center;
    color: white;
    h1 { 
      font-family: "Open Sans Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 72px;
      margin-top: 0;
      margin-bottom: 0;
    }
    h2 {
      font-size: 24px;
      margin-top: 8px;
      margin-bottom: 0;
    }
  }
}

.social-links {
  display: flex;
  justify-content: space-between;
  margin-top: 48px;
  margin-bottom: 64px;
  li {
    text-align: center;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-color: $brand-primary;
    a {
      color: white;
      display: block;
      width: 100%;
      height: 100%;
      font-size: 36px;
      line-height: 64px;
    }
  }
}

/* .row { max-width: 1024px } */

.section {
  &--alt {
    /* background: $section-background-alt; */
  }
  h2 {
    margin: 96px 0 64px;
  }
}

.case-study, .work-example {
  margin-bottom: 64px;
  &__image {
    max-width: 66%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }
}

.labels {
  line-height: 20px;
  &__label {
    display: inline-block;
    font-size: 12px;
    font-weight: 300;
    line-height: 12px;
    text-transform: uppercase;
    color: #999;
    margin-top: 0;
    margin-right: 4px;
    margin-bottom: 0;
    padding: 2px 8px;
    border-radius: 4px;
    border: 1px solid $keyline-gray;
  }
}

.tabs {
  font-size: 18px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 48px;
  &__tab {
    display: block;
    margin-bottom: 12px;
    a {
      display: block;
      padding: 4px 12px;
      text-align: center;
    }
    &--active {
      border: 1px solid $brand-primary;
      border-radius: 4px;
      a {
        text-decoration: none;
      }
    }
  }
}

a.back-button {
  display: block;
  text-align: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: $brand-primary;
  text-decoration: none;
  i {
    color: whiteSmoke;
    display: block;
    width: 100%;
    height: 100%;
    font-size: 24px;
    line-height: 48px;
  }
}


.imageGrid, .imagesAndText {
  img {
    margin-top: 32px;
  }
}



// Page specific styles


.footer {
  p {
    text-align: center;
    margin: 32px auto;
  }
}

.portfolio-detail-header {
  margin-top: 64px;
  h1 {
    margin-top: 32px;
  }
}

.portfolio-intro {
  margin-top: 64px;
}

.page_portfolio-detail {
  background-color: black;
  color: whiteSmoke;
  img {
    background: white;
    border-radius: 3px;
  }
}

.textOnly h3 { margin: 27px 0 27px 0; }

.imagesAndText img { margin-left: auto; margin-right: auto; display: block;} 


/*==========  Mobile First Method  ==========*/

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
  .tabs {
    display: flex;
    justify-content: space-between;
    &__tab {
      display: inline-block;
    }
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

.case-study {
  h3 { margin-top: 32px; }
  &__image {
    max-width: 75%;
  }
}

.work-example {
  h3 { margin-top: 0; }
  &__image {
    max-width: 100%;
  }
}

.portfolio-detail-header {
  h1 {
    margin-top: 0;
    margin-left: 0;
  }
  .back-button {
    float: right;
    margin-right: -10px;
  }
}

.portfolio-intro {
  img, video {
    max-width: 75%;
    margin: 0 auto;
  }
}
}

img+img {
  margin-top: 32px;
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

  .page_portfolio-detail {
    h3 {
    }
  }


  .work-example {
    h3 {
        margin-top: 0px;
      }
    &__image {
      max-width: 75%;
    }
  }

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
  .work-example {
    h3 {
      margin-top: 8px;
    }
  }
}
