<nav class="navbar navbar-default">
  <div class="container">
    <div class="row">
      <div class="{{pageColumnClass}}">
        <div class="row">
          <div class="col-xs-12 col-sm-7">
            <div class="navbar-header">
              <a class="navbar-brand" href="/#/">
                <brand></brand>
              </a>

              <!--<div class="site-nav">
                <ul class="nav nav-pills">
                  <li><a href="/#/portfolio">Portfolio</a></li>
                  <li><a href="/#/blog">Blog</a></li>
                </ul>
              </div>-->

            </div>
          </div>

          <div class="col-xs-8 col-xs-offset-2 col-sm-5 col-sm-offset-0">
            <social-links></social-links>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
