<div class="row">
  <div class="col-xs-12 col-sm-5">
    <a class="media__image-link" ng-href="#/portfolio/{{item.id}}">
      <img class="media__image img-responsive" ng-src="{{assetUrlPrefix}}{{item.heroImgUrl}}"/>
    </a>
  </div>

  <div class="col-xs-12 col-sm-7 media__content">
    <h3>{{item.name}}</h3>
    <ul class="labels list-unstyled">
      <li class="labels__label" ng-repeat="label in item.labels">
        {{label.name}}
      </li>
    </ul>
    <p>
      {{item.description}}
    </p>
    <a ng-href="/#/portfolio/{{item.id}}" class="btn btn-default">More details</a>
  </div>
</div>
