<div class="{{ pageClass }}">

  <header ng-if="headerIsVisible"></header>

  <div class="container">

    <div class="row">

      <div class="{{pageColumnClass}}">
        <div class="post">
          <h1 ng-bind-html="post.title"></h1>

          <span class="reading-time text-muted">Reading time: {{readingTime}}</span>

          <div ng-bind-html="post.content" class="post__content"></div>

          <p>{{post.author.first_name}}</p>
        </div>
      </div>
    </div>

    <div class="row footer section">
      <p class="small">By Zowber.</p>
    </div>
  </div>

</div>
