<div class="{{ pageClass }}">

  <header></header>

  <div class="container">
    <div class="row">
      <div class="{{pageColumnClass}}">

        <div ng-if="posts.length" class="posts">

          <div ng-repeat="post in posts" class="post">
            <span ng-if="$first" class="badge pull-right">New!</span>
            <a ng-href="#/blog/{{post.ID}}"><h2 ng-bind-html="post.title" ></h2></a>
            <span ng-bind-html="post.excerpt"></span>
          </div>

        </div>

        <div ng-if="!posts.length" class="post">
          <p>Fetching posts</p>
        </div>

      </div>
    </div>
  </div>

  <div class="row footer section">
    <p class="small">By Zowber.</p>
  </div>
</div>
