<div class="nav">
  <a href="" class="nav__toggle">
</div>

<h1>Lorem ipsum dollor sit amet</h1>
<p class="lead">Lorem ipsum dollor sit amet.</p>

<div class="row">
  <div class="col-xs-12 col-sm-2">
    Reading time
    <span class="muted">5 minutes</span>
  </div>
  <div>
    <p>Lorem ipsum dollor sit amet</p>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <h2>Lorem ipsum dollor sit amet</h2>
  </div>
  <div class="col-xs-12 col-sm-8">
    <p>Lorem ipsum dollor sit amet.</p>
  </div>
  <div class="col-xs-12 col-sm-4">
    <img src="http://www.placeholder.it/400x300" class="img-responsive">
    <caption>Lorem ipsum dllor sit amet</caption>
  </div>
</div>