<div class="{{ pageClass }}">

  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 animated"
      ng-class="{fadeIn: animate}">
        <brand></brand>
      </div>

      <div class="col-xs-12 col-sm-6 animated"
           ng-class="{fadeIn: animate}">
        <div class="site-nav">
          <ul class="nav nav-pills">
            <li><a href="/#/portfolio">Portfolio</a></li>
            <li><a href="/#/blog">Blog</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</div>
