<div class="{{ pageClass }}">

  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <brand class="animated animated"
               ng-class="{fadeInDown: animate}"></brand>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-xs-12 animated"
           ng-class="{fadeIn: animate}">
        <div class="site-nav">
          <ul class="nav nav-pills">
            <li><a href="/#/portfolio">Portfolio</a></li>
            <li><a href="/#/blog">Blog</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</div>
