<div class="container-fluid {{pageClass}}">
  <div class="row">
    <div class="col-xs-12">
      <div class="hero">
        <div class="hero__content">
          <h1>Zowber</h1>
          <h2 class="">UX <span class="symbol">&plus;</span> Code</h2>
        </div>
      <div>
    </div>
  </div>

  <div class="row portfolio-intro">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <p class="lead">
        Vestibulum lacinia venenatis massa id condimentum. Vestibulum blandit ac sapien in ultrices. Nam vel placerat eros, nec tempus dui. Sed laoreet blandit odio non aliquam.
      </p>
      <p class="lead">
        Nam vel placerat eros, nec tempus dui. Sed laoreet blandit odio non aliquam. Curabitur vulputate purus justo, nec ultrices magna consequat id.
      </p>
    </div>
  </div>

  <div class="row">
    <ul class="social-links list-unstyled col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
      <li>
        <a href="https://www.youtube.com/channel/UCA5bzDsDDkl-IxmiI7438SQ">
          <i class="fa fa-youtube"></i>
          <span class="sr-only">YouTube</span>
        </a>
      </li>
      <li>
        <a href="https://github.com/zowber/">
          <i class="fa fa-github"></i>
          <span class="sr-only">GitHub</span>
        </a>
      </li>
      <li>
        <a href="https://uk.linkedin.com/in/zowber">
          <i class="fa fa-linkedin"></i>
          <span class="sr-only">LinkedIn</span>
        </a>
      </li>
    </ul>
  </div>


  <div class="row section section--odd">
    <h2>Case Studies</h2>

    <ul class="media case-studies list-unstyled">
      <li class="media__item col-xs-12 col-sm-4" ng-repeat="item in portfolioItems | filter : { 'type' : 'caseStudy' }">
          <a ng-href="/#/portfolio/{{item.id}}">
            <img class="media__img img-responsive" src="http://placehold.it/768x420" />
          </a>
          <div class="media__body">
            <h3>{{item.name}}</h3>
            <ul class="labels list-unstyled">
              <li class="labels__label" ng-repeat="label in item.labels">
                {{label.name}}
              </li>
            </ul>
          </div>
      </li>
    </ul>

  </div>

  <div class="row section section--even">
    <h2>Bits &amp; Pieces</h2>
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <ul class="tabs list-unstyled">
        <li class="tabs__tab tabs__tab--active">
          <a href="">All</a>
        </li>
        <li class="tabs__tab">
          <a href="">Something else</a>
        </li>
        <li class="tabs__tab">
          <a href="">Something else</a>
        </li>
        <li class="tabs__tab">
          <a href="">Something else</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="media col-sm-6" ng-repeat="item in portfolioItems | filter : { 'type' : 'work' }">
      <div class="media-left media-middle">
        <a ng-href="/#/portfolio/{{item.id}}">
          <img class="media-object" src="http://placehold.it/120x80" />
        </a>
      </div>
      <div class="media-body">
        <h3 class="media-heading">
          {{item.name}}
        </h3>
        <ul class="labels list-unstyled">
          <li class="labels__label" ng-repeat="label in item.labels">
            {{label.name}}
          </li>
        </ul>
      </div>

    </div>
  </div>

  <div class="row footer">
    <p class="small">For the love of the craft by Zowber.</p>
  </div>
</div>