<div class="container-fluid {{pageClass}}">
  <div class="row portfolio-detail-header">
    <div class="col-xs-2 col-sm-1">
      <a class="back-button pull-right" ng-href="/#/">
        <i class="fa fa-arrow-left"></i>
        <span class="sr-only">Back to Portfolio home</span>
      </a>
    </div>
    <div class="col-xs-10 col-sm-11">
      <h1>{{item.name}}</h1>
    </div>
  </div>

    <div class="row portfolio-intro">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <img src="http://placehold.it/1024x768" class="img-responsive" />
    </div>
  </div>

  <div class="row portfolio-intro">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <p class="lead">
        Vestibulum lacinia venenatis massa id condimentum. Vestibulum blandit ac sapien in ultrices. Nam vel placerat eros, nec tempus dui. Sed laoreet blandit odio non aliquam.
      </p>
      <p class="lead">
        Nam vel placerat eros, nec tempus dui. Sed laoreet blandit odio non aliquam. Curabitur vulputate purus justo, nec ultrices magna consequat id.
      </p>
    </div>
  </div>

  <div class="row section">
    <h2>Section Heading</h2>
    <div class="media col-xs-12 col-sm-10 col-sm-offset-1">
      <div class="media-left media-middle">
        <a ng-href="/#/portfolio/{{item.id}}">
          <img class="media-object" src="http://placehold.it/120x80" />
        </a>
      </div>
      <div class="media-body">
        <h3 class="media-heading">
          Lorem ipsum
        </h3>
        <p>
         Vestibulum lacinia venenatis massa id condimentum. Vestibulum blandit ac sapien in ultrices. Nam vel placerat eros, nec tempus dui. Sed laoreet blandit odio non aliquam.
        </p>
        <p>
         Vestibulum lacinia venenatis massa id condimentum. Vestibulum blandit ac sapien in ultrices. Nam vel placerat eros, nec tempus dui. Sed laoreet blandit odio non aliquam.
        </p>
      </div>

    </div>
  </div>
  

</div>