<div class="container-fluid {{pageClass}}">
  <div class="row portfolio-detail-header">
    <div class="col-xs-12 col-sm-1">
      <a class="back-button" ui-sref="home">
        <i class="fa fa-arrow-left"></i>
        <span class="sr-only">Back to Portfolio home</span>
      </a>
    </div>
    <div class="col-xs-12 col-sm-10">
      <h1>{{item.name}}</h1>
    </div>
  </div>

  <div class="row portfolio-intro">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <img ng-src="{{item.heroImgUrl}}" class="img-responsive" />
    </div>
  </div>

  <div class="row portfolio-intro">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <div
        ng-bind-html="item.lead">
      </div>
    </div>
  </div>

  <div class="row section" ng-repeat="section in item.sections">
    <h2>{{section.heading}}</h2>

    <div class="col-xs-12 col-sm-10 col-sm-offset-1" ng-repeat="subsection in section.sections">

    <!-- Text only section -->
      <div class="row" ng-if="!section.imgUrl">
        <div class="col-xs-12">
          <h3>
            {{subsection.heading}}
          </h3>
          <div
            ng-bind-html="subsection.content">
          </div>
        </div>
      </div>

      <!-- Image Section -->
      <div class="row" ng-if="subsection.images">
        <div class="col-xs-12 col-sm-5 col-md-6">
          <div ng-repeat="image in subsection.images">
            <img class="img-responsive" ng-src="{{image}}" />
          </div>
        </div>
        <div class="col-xs-12 col-sm-7 col-md-6">
          <h3>
            {{subsection.heading}}
          </h3>
          <div
            ng-bind-html="subsection.content">
          </div>
        </div>
      </div>


    </div>
  </div>
</div>