<div class="container-fluid {{pageClass}}">

  <div class="row portfolio-detail-header">
    <div class="col-xs-12 col-sm-1">
      <a class="back-button" href ng-click="goBack()">
        <i class="fa fa-arrow-left"></i>
        <span class="sr-only">Back to Portfolio home</span>
      </a>
    </div>
    <div class="col-xs-12 col-sm-10">
      <h1>{{item.name}}</h1>
    </div>
  </div>

  <portfolio-detail-intro></portfolio-detail-intro>

  <portfolio-detail-section></portfolio-detail-section>

</div>

<div class="container-fluid {{pageClass}}">
  <div class="footer">
    <p class="small">By Zowber.</p>
  </div>
</div>
</div>
