<div class="container {{pageClass}}">
  <div class="row">
    <div class="col-xs-12">
      <div class="hero">
        <div class="hero__content">
          <h1>Zowber</h1>
          <h2 class="">UX <span class="symbol">&plus;</span> Code</h2>
        </div>
      </div>
    </div>
  </div>

  <div class="row portfolio-intro">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <p class="lead">
        <strong>Hello! I'm Andy Bright. A Senior UX Designer and UX Developer with over a decade of experience in the industry.</strong>
      </p>
      <p class="lead">
        As a UX Designer and Developer I have worked from strategy, to concept, to live, with great teams that aim to deliver experiences customers will love.
      </p>
      <p class="lead">
        My experience allows me to be as effective facilitating collaborative workshops with business leaders as I am gathering and communicating customer insight, designing customer journeys, or coding an interactive prototype with the latest web technology.
      </p>
    </div>
  </div>

  <div class="row">
    <ul class="social-links list-unstyled col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
      <li>
        <a href="mailto:andy+portfolio@zowber.com">
          <i class="fa fa-envelope"></i>
          <span class="sr-only">Email me!</span>
        </a>
      </li>
      <li>
        <a href="https://github.com/zowber/">
          <i class="fa fa-github"></i>
          <span class="sr-only">GitHub Profile</span>
        </a>
      </li>
      <li>
        <a href="https://uk.linkedin.com/in/zowber">
          <i class="fa fa-linkedin"></i>
          <span class="sr-only">LinkedIn Profile</span>
        </a>
      </li>
    </ul>
  </div>


  <div class="row section section--alt">
    <h2>Case Studies</h2>
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <div class="row case-studies list-unstyled">
        <div class="col-xs-12 col-md-6 case-study" ng-repeat="item in portfolioItems | filter : { 'type' : 'caseStudy' }">
          <a ui-sref="portfolioDetail({ itemId : {{item.id}} })">
            <img class="case-study__image img-responsive" ng-src="{{item.heroImgUrl}}" />
          </a>
          <div>
            <h3>{{item.name}}</h3>
            <ul class="labels list-unstyled">
              <li class="labels__label" ng-repeat="label in item.labels">
                {{label.name}}
              </li>
            </ul>
            <p>
              {{item.description}}
            </p>
            <a ui-sref="portfolioDetail({ itemId : {{item.id}} })" class="btn btn-default">More details</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row section work-examples">

    <h2 id="work-examples">Recent Work</h2>

    <div class="col-xs-12 col-sm-10 col-sm-offset-1">

<!--  <div class="row">
        <div class="col-xs-12">
          <ul class="tabs list-unstyled">
            <li class="tabs__tab tabs__tab--active">
              <a href="">All</a>
            </li>
            <li class="tabs__tab">
              <a href="">Something else</a>
            </li>
            <li class="tabs__tab">
              <a href="">Something else</a>
            </li>
            <li class="tabs__tab">
              <a href="">Something else</a>
            </li>
          </ul>
        </div>
      </div> -->

      <div class="row">
        <div class="col-xs-12" ng-repeat="item in portfolioItems | filter : { 'type' : 'work' }" id="item_{{item.id}}">
          <div class="row work-example">
            <div class="col-xs-12 col-sm-5">
                <a ui-sref="portfolioDetail({ itemId : {{item.id}} })">
                  <img class="img-responsive work-example__image" ng-src="{{item.heroImgUrl}}" />
                </a>
            </div>
            <div class="col-xs-12 col-sm-7">
              <h3>{{item.name}}</h3>
              <ul class="labels list-unstyled">
                <li class="labels__label" ng-repeat="label in item.labels">
                  {{label.name}}
                </li>
              </ul>
              <p class="description">
                {{item.description}}
              </p>
              <a 
                ui-sref="portfolioDetail({ itemId : {{item.id}} })"
                class="btn btn-default"
                analytics-on=""
                >More details</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row footer section section--alt">
    <p class="small">By Zowber.</p>
  </div>
</div>