<div class="{{ pageClass }}">

  <header></header>
  <div class="this--background-alt">
    <div class="container">
      <div class="row">
        <div class="text-hero {{pageColumnClass}}">
          <h1>Hello! I'm Andy Bright.</h1>
          <p class="lead">
            <strong> A UX Designer and Developer with over a decade of experience in
              the
              industry.</strong>
          </p>

          <p class="lead">
            As a UX Designer and Developer I have worked from strategy, to concept, to live, with great teams that aim
            to
            deliver experiences customers will love.
          </p>

          <p class="lead">
            My experience allows me to be as effective facilitating collaborative workshops with business leaders as I
            am
            gathering and communicating customer insight, designing customer journeys, or coding an interactive
            prototype
            with the latest web technology.
          </p>
        </div>
      </div>
    </div>
  </div>


  <div class="container">
    <div class="row">
      <case-studies></case-studies>
    </div>
  </div>


  <div class="container">
    <div class="row">
      <recent-work></recent-work>
    </div>
  </div>

  <footer></footer>
</div>
