<ul class="list-unstyled">
  <li>
    <a href="mailto:andy+portfolio@zowber.com">
      <i class="fa fa-envelope"></i>
      <span class="sr-only">Email me!</span>
    </a>
  </li>
  <li>
    <a href="https://github.com/zowber/">
      <i class="fa fa-github"></i>
      <span class="sr-only">GitHub Profile</span>
    </a>
  </li>
  <li>
    <a href="https://uk.linkedin.com/in/zowber">
      <i class="fa fa-linkedin"></i>
      <span class="sr-only">LinkedIn Profile</span>
    </a>
  </li>
</ul>
